<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Tickets</title>
</head>

<body>
    <header>

        <nav class="navbar">
            <div id="logo">
                <p>Control de Mantenimiento  y Servicios</p> 
            </div>
            <div id="usuario">
                <p> Bienvenido(a),  <%= user.nombre %> </p>
                <div class="dropdown">
                    <a href="/cerrar-sesion" class="cerrar-sesion">Cerra sesión</a>
                </div>
            </div>
        </nav>
    </header>

    <main>

    
