<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Tickets</title>
</head>

<body>
    <header>

        <nav class = "navbar">
            <div class = "logo">
                <img src="" alt="">
            </div>
            
            <ul class = "nav-links">
                <li><a href="">Inicio</a></li>
                <li><a href="">Solicitudes</a></li>
                <li><a href="">Mtto. Preventivo</a></li>
                <li><a href="">Reportes</a></li>
            </ul>

            <div class = "icono-usuario">
                <img src="images/user2.png" height="50" alt="">
            </div>

        </nav>
    </header>

    <main>

    
