<%- include("partials/header.ejs") %>

<div class = "contenedor-edificios">

    <h1 class = "titulo-edficios">Gestión de Edificios</h1>

    <div class = "contenedor-agregar">
         <form action="agregarEdificio"></form>
            <input type="text" class = "input-edificio" placeholder="Nombre del nuevo edificio">
            <button type = "submit" class = "agregarEdificioBtn">  <i class="fa-solid fa-circle-plus icon-agregar"></i> Agregar Edificio</button>
        </form>
    </div>
   

    

</div>

<%- include("partials/footer.ejs") %>