<%- include("partials/header.ejs") %>

    <div class = "inicio-sesion">
        <form action="inicio">
            <img src="images/user2.png" height = "100" class = "img-icono" alt="imagen del ícono"> 
            <input type="text" class = "input" placeholder="login">
            <input type="password" class = "input" placeholder="password" required> 
            <button class = "btn login">LOG IN</button>
        </form>
    </div>

<%- include("partials/footer.ejs") %>