<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Tickets</title>
</head>

<body>
    <header>

        <nav>
    
        </nav>
    </header>

    <main>

    <div class = "contenedor">

        <div class = "imagen-lateral">
            <img src="images/mantenimiento.png" alt="hombre dando mantenimiento">
        </div>

        <div class = "inicio-sesion">
            <form action="/login" method="POST" autocomplete="off">
                <div class = "img-container">
                    <img src="images/user.png" height = "140" class = "img-icono" alt="imagen del ícono">
                </div>
                
                <div id = "inputs">
                    <div id = "input-usuario">
                        <i class="fa fa-user icon"></i>
                        <input type="text" name = "usuario" class = "input" placeholder="Usuario">
                    </div>
                    <div id = "input-contraseña">
                        <i class="fa fa-lock icon"></i>
                        <input type="password" name = "contraseña" class = "input" placeholder="Contraseña" required> 
                    </div>
                    
                </div>
    
                <div id = "recuerdame-container">
                    <div id = "check">
                        <input type="checkbox" id = "recordar">
                    <label class = "recuerdame-text" for = "recordar">Recuérdame</label>
                    </div>
                    <% if(locals.error){ %>
                    <label class = "error-login"> <%= error %> </label>
                    <% } %>
                </div>
    
                <input type = "submit" class = "btn login" value = "INICIAR SESIÓN">
            </form>
            <form action="/registro" method="GET" autocomplete="off">
                <input type = "submit" class = "crear-cuenta" value = "¿Aún no estás registrado? Crea una cuenta">
            </form>   
    

        </div>
    </div>

    

<%- include("partials/footer.ejs") %>