<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Tickets</title>
</head>

<body>
    <header>

        <nav>
    
        </nav>
    </header>

    <main>

    <div class = "inicio-sesion">
        <form action="/inicio" method="POST">
            <img src="images/user2.png" height = "100" class = "img-icono" alt="imagen del ícono"> 
            <input type="text" class = "input" placeholder="usuario">
            <input type="password" class = "input" placeholder="contraseña" required> 
            <button class = "btn login">LOG IN</button>
        </form>
    </div>

<%- include("partials/footer.ejs") %>