<%- include("partials/header.ejs") %>


<div class = "inicio-contenedor">

    <div class = "titulo-bienvenida">
        <h1>Control de Mantenimiento <br> y Servicios</h1>
        <i class="fa-solid fa-screwdriver-wrench icon-inicio"></i>
    </div>

</div>


<%- include("partials/footer.ejs") %>