<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Agregar Elementos</title>
</head>
<body>    

    <div class = "formulario-elementos">
        <h2>Agregar Elementos</h2>
        <form action="/agregarComponentes" id="elementForm" method="POST">
                <input type="hidden" name = "id_localidad" value = "<%= locals.id_localidad %>">
                <div class = "tipo-contenedor">
                    <select name="id_tipo" class="elemento-tipo" required>
                        <option value="">Tipo</option>
                        <% tipos.forEach(tipo => { %>
                            <option value="<%= tipo.id_tipo %>"><%= tipo.nombre %></option>
                        <% }); %>
                    </select>
                </div>
                
                <br><br>
                <!-- Campos adicionales dinámicos dependiendo del tipo -->
                <div id="dynamicFields"></div>
                <div class = "agregar-componentes-but">
                     <button type="submit" class="agregarComponenteBtn"><i class="fa-solid fa-circle-plus icon-agregar"></i> Agregar</button>
                </div>
        </form>
    </div>
    

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const selectElement = document.querySelector('.elemento-tipo');
            console.log("Select element found:", selectElement);

            selectElement.addEventListener('change', function() {
                console.log("Change event detected!");

                var dynamicFields = document.getElementById('dynamicFields');
                console.log("Dynamic fields div found:", dynamicFields);
                dynamicFields.innerHTML = ''; // Limpiar campos anteriores

                // Obtener el valor seleccionado
                var selectedType = selectElement.value;
                console.log("Selected type:", selectedType);

                if (selectedType === '1') {
                    dynamicFields.innerHTML = `
                        <div class="izquierda">
                            <label for="fechaCompra" class = "label-elementos">Fecha de Compra</label>
                            <input type="date" class="input-elemento" id="fechaCompra" name="fechaCompra"><br>
                            <input type="text" class="input-elemento" id="marca" name="marca" placeholder="Marca" requiered><br>
                            <input type="text" class="input-elemento" id="modelo" name="modelo" placeholder="Modelo" requiered><br>
                            <input type="text" class="input-elemento" id="procesador" name="procesador" placeholder="Procesador" requiered><br>
                            <input type="text" class="input-elemento" id="ram" name="ram" placeholder="RAM" requiered><br>
                            
                        </div>
                        <div class="derecha">
                            <label for="fechaGarantia" class = "label-elementos">Fecha de Garantía</label>
                            <input type="date" class="input-elemento" id="fechaGarantia" name="fechaGarantia"><br>
                            <input type="text" class="input-elemento" id="sistemaOperativo" name="sistemaOperativo" placeholder="Sistema Operativo" requiered><br>
                            <input type="text" class="input-elemento" id="tipoDisco" name="tipoDisco" placeholder="Tipo de Disco" requiered><br>
                            <input type="text" class="input-elemento" id="capacidadDisco" name="capacidadDisco" placeholder="Capacidad de Disco" requiered><br>
                            <input type="text" class="input-elemento" id="tarjetaGrafica" name="tarjetaGrafica" placeholder="Tarjeta Gráfica" requiered><br>
                            
                        </div>
                    `;
                } else if (selectedType === '3') {
                    dynamicFields.innerHTML = `
                        <div class = "izquierda">
                            <label for="fechaCompra" class = "label-elementos">Fecha de Compra</label>
                            <input type="date" class="input-elemento" id="fechaCompra" name="fechaCompra" requiered><br>
                            <input type="text" class="input-elemento" id="marca" name="marca" placeholder="Marca" requiered><br>
                            <input type="text" class="input-elemento" id="modelo" name="modelo" placeholder = "Modelo" requiered><br>
                        </div>
                        <div class = "derecha">
                            <label for="fechaGarantia" class = "label-elementos">Fecha de Garantía</label>
                            <input type="date" class="input-elemento" id="fechaGarantia" name="fechaGarantia" requiered><br>
                            <input type="text" class="input-elemento" id="resolucion" name="resolucion" placeholder = "Resolución" requiered><br>
                            <input type="text" class="input-elemento" id="puert" name="puert" placeholder = "No. Puertos"><br>
                        </div>
                    `;
                } else if (selectedType === '2') {
                    dynamicFields.innerHTML = `
                        <div class = "izquierda">
                            <label for="fechaCompra" class = "label-elementos">Fecha de Compra</label>
                            <input type="date" class="input-elemento" id="fechaCompra" name="fechaCompra" requiered><br>
                            <input type="text" class="input-elemento" id="modelo" name="modelo" placeholder="Modelo" requiered><br>
                            <input type="text" class="input-elemento" id="tipoImpresora" name="tipoImpresora" placeholder="Tipo de Impresora"><br>
                        </div>
                    
                        <div class = "derecha">
                            <label for="fechaGarantia" class = "label-elementos">Fecha de Garantía</label>
                            <input type="date" class="input-elemento" id="fechaGarantia" name="fechaGarantia" requiered><br>
                            <input type="text" class="input-elemento" id="marca" name="marca" placeholder="Marca" requiered><br>
                            <input type="text" class="input-elemento" id="tipoTinta" name="tipoTinta" placeholder="Tipo de Tinta" requiered><br>
                        </div>
                    `;
                } else if (selectedType === '6') {
                    dynamicFields.innerHTML = `
                        <div class = "izquierda">
                            <label for="fechaCompra" class = "label-elementos">Fecha de Compra</label>
                            <input type="date" class="input-elemento" id="fechaCompra" name="fechaCompra" requiered><br>
                            <input type="text" class="input-elemento" id="marca" name="marca" placeholder="Marca" requiered><br>
                            <input type="text" class="input-elemento" id="numeroSerie" name="numeroSerie" placeholder = "No. se serie" requiered><br>

                           
                        </div>
                        <div class = "derecha">
                            <label for="fechaGarantia" class = "label-elementos">Fecha de Garantía</label>
                            <input type="date" class="input-elemento" id="fechaGarantia" name="fechaGarantia" requiered><br>
                            <input type="text" class="input-elemento" id="modelo" name="modelo" placeholder = "Modelo" requiered><br>
                            <input type="text" class="input-elemento" id="direccionIP" name="direccionIP" placeholder = "Dirección IP" requiered><br>
                        </div>
                    `;
                } else if (selectedType === '4') {
                    dynamicFields.innerHTML = `
                        <div class = "izquierda">
                            <label for="fechaCompra" class = "label-elementos">Fecha de Compra</label>
                            <input type="date" class="input-elemento" id="fechaCompra" name="fechaCompra" requiered><br>
                            <input type="text" class="input-elemento" id="marca" name="marca" placeholder="Marca" requiered><br>
                            <input type="text" class="input-elemento" id="numeroSerie" name="numeroSerie" placeholder = "No. de serie" requiered><br>

                        </div>
                        <div class = "derecha">
                            <label for="fechaGarantia" class = "label-elementos">Fecha de Garantía</label>
                            <input type="date" class="input-elemento" id="fechaGarantia" name="fechaGarantia" requiered><br>
                            <input type="text" class="input-elemento" id="modelo" name="modelo" placeholder="Modelo" requiered><br>
                            <input type="text" class="input-elemento" id="puertos" name="puertos" placeholder="Puertos" requiered><br>
                        </div>
                    `;
                } else if (selectedType === '5') {
                    dynamicFields.innerHTML = `
                        <div class = "izquierda">
                            <label for="fechaCompra" class = "label-elementos">Fecha de Compra</label>
                            <input type="date" class="input-elemento" id="fechaCompra" name="fechaCompra" requiered><br>
                            <input type="text" class="input-elemento" id="marca" name="marca" placeholder="Marca" requiered><br>
                            <input type="text" class="input-elemento" id="modelo" name="modelo" placeholder="Modelo" requiered><br>
                        </div>
                        <div class = "derecha">
                            <label for="fechaGarantia" class = "label-elementos">Fecha de Garantía</label>
                            <input type="date" class="input-elemento" id="fechaGarantia" name="fechaGarantia" requiered><br>
                            <input type="text" class="input-elemento" id="capacidad" name="capacidad" placeholder="Capacidad" requiered><br>
                            <input type="text" class="input-elemento" id="proc" name="proc" placeholder="Procesador"><br>
                        </div>
                    `;
                }
            });
        });
    </script>
<%- include("partials/footer.ejs") %>