<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Reddit+Sans+Condensed:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="/styles/main.css">
    <title>Tickets</title>
</head>

<body>
    <header>

        <nav>
    
        </nav>
    </header>

    <main>

        <div class = "contenedor">

            <div class = "imagen-lateral">
                <img src="images/mantenimiento.png" alt="hombre dando mantenimiento">
            </div>
    
            <div class = "registro-contenedor">

                    <div class = "registro-nombre">
                        <i class="fa fa-user icon"></i>
                        <input type="text" name = "nombre" class = "input-r" placeholder="Nombre(s)">
                    </div>

                    <div class = "registro-apellidos">
                        <i class="fa-solid fa-user-tie"></i>
                        <input type="text" name = "apellidos" class = "input-r" placeholder="Apellido(s)">
                    </div>
                    
                    <div class = "registro-nombre-usuario">
                        <i class="fa-solid fa-user-tag"></i>
                        <input type="text" name = "nombre-usuario" class = "input-r" placeholder="Nombre de usuario">
                    </div>

                    <div class = "registro-departamento">
                        <i class="fa-solid fa-list"></i>
                        <select name="departamento" id="departamento">
                            <option value="" disabled selected>Departamento</option>
                            <option value=""></option>
                        </select>
                    </div>

                    <div class = "registro-contraseña">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name = "registro-contraseña" class = "input-r" placeholder="Contraseña">
                    </div>

                    <div class = "confirmar-registro-contraseña">
                        <i class="fa-solid fa-lock"></i>
                        <input type="password" name = "confirmar-registro-contraseña" class = "input-r" placeholder="Confirmar contraseña">
                    </div>

                    <% if(locals.error){ %>
                        <label class = "error-registro"> <%= error %> </label>
                        <% } %>

                    <input type = "submit" class = "btn registrobtn" value = "CONFIRMAR REGISTRO">

                <form action="/login" method="GET">
                    <input type = "submit" class = "iniciar" value = "¿Ya estás registrado? Inicia sesión.">
                </form>   
    
            </div>
        </div>
    


<%- include("partials/footer.ejs") %>