body {
    margin: 0;
    font-family: "Reddit Sans Condensed", sans-serif;
}

.sidebar {
    height: 100%;
    width: 250px; /* Ancho del menú lateral */
    position: fixed; /* Fija el menú lateral a la izquierda */
    top: 0;
    left: 0;
    background-color:rgba(181, 178, 178, 0.472); /* Color de fondo del menú */
    padding-top: 20px; /* Espaciado superior */
    color: rgb(0, 0, 0);
    box-shadow: 1px 0 5px rgba(0,0,0,0.4); /* Sombra del menú */
}

.navbar {
    display: flex;
    flex-direction: column;
    height: 93%;
    align-items: center;
    text-align: center;
}

#usuario {
   margin-top: auto;
}

.cerrar-sesion {
    text-decoration: none;
    color: rgb(172, 37, 37);
}