body {
    margin: 0;
}

.sidebar {
    height: 100vh;
    width: 250px; /* Ancho del menú lateral */
    position: fixed; /* Fija el menú lateral a la izquierda */
    top: 0;
    left: 0;
    background-color:rgb(29, 28, 28);
    padding-top: 20px; 
    color: rgb(0, 0, 0);
    box-shadow: 1px 0 5px rgba(0,0,0,0.4); 
    font-family: "Roboto Condensed", sans-serif;
}

.navbar {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    height: 90%;
}

.tituloOpciones {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 17px;
}

.sidebar .navbar div {
    padding: 13px 40px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    transition: 0.3s all;
    position: relative;
}

.sidebar .navbar div:hover {
    padding: 13px 40px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    transition: 0.3s all;
    position: relative;
    cursor: pointer;
}

.sidebar .navbar div::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 2px;
    width: 0;
    background-color: white;
    transition: 0.3s width ease-in-out;
}

.sidebar .navbar div:hover::after {
    width: 80%; 
}


.icon-sidebar {
    margin: 0 10px;
    color: white;
    font-size: 17px;
}

.icon-sidebarUsuarios {
    margin: 0 6px;
    color: white;
    font-size: 17px;
}

div a {
    display: block;
    text-align: left;
}

#usuario {
   margin-top: auto;
}

.cerrar-sesion {
    text-decoration: none;
    color: rgb(172, 37, 37);
}



/* MAIN - INICIO */

main {
    margin-left: 250px;
    padding: 20px;
}

.inicio-contenedor {
    font-family: "Inter Tight", sans-serif;
}

.titulo-bienvenida {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 140px;
    font-size: 30px;
    color: rgb(29, 28, 28);
}

.icon-inicio {
    color: black;
    font-size: 90px;
}



/* PERFIL */

.contenedor-perfil {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter Tight", sans-serif;
    font-size: 20px;
}

.titulo-perfil {
    padding-right: 120px;
    padding-top: 110px;
    align-items: center;
    text-align: center;
}

.perfil {
    margin-top: 150px;
    width: 550px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(29, 28, 28);
    box-shadow: 1px 0 5px rgba(63, 63, 63, 0.2); 
    border-radius: 6px;
    color: white;
}

.p-nombre {
    margin-bottom: 50px
}

.p {
    margin: 0;
}

.info {
    width: 80%;
    border-top: 2px solid rgb(255, 255, 255);
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* EDIFICIOS */

.contenedor-edificios {
    margin: 10px 35px 10px 10px;
    padding-left: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Inter Tight", sans-serif;
}

.nombre-edificio {
    margin-left: 70px;
}

.input-edificio {
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
    width: 82.5%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgba(100, 94, 94, 0.446);
    outline: none;
    padding-left: 10px;
}

.input-edificio::placeholder {
    padding-left: 10px;
}

.input-localidad {
    margin-left: 70px;
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
    width: 30.5%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgba(100, 94, 94, 0.446);
    outline: none;
    padding-left: 10px;
}


.input-encargado-localidad {
    margin-left: 0;
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
    width: 30.5%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgba(100, 94, 94, 0.446);
    outline: none;
    padding-left: 10px;
}


.agregarEdificioBtn {
    margin-left: 5px;
    padding: 9.5px 15px;
    border-radius: 5px;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
}

.agregarEdificioBtn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.agregarLocalidadBtn {
    margin-left: 0;
    padding: 9.5px 20px;
    border-radius: 5px;
    background-color: black;
    border: 1px solid black;
    color: rgb(255, 255, 255);
    font-family: "Inter Tight", sans-serif;
    font-size: 14px;
}

.agregarLocalidadBtn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.icon-agregar {
    padding-right: 6px;
}

.icon-agregar-local {
    padding-right: 6px;
    font-size: 22px;
}

.contenedor-edificios-info {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.edificio-info {
    background-color: rgba(182, 178, 178, 0.462);
    border: 1px solid rgba(100, 94, 94, 0.446);
    font-family: "Inter Tight", sans-serif;
    border-radius: 5px;
    padding: 10px;
    margin: 15px 0;
    
}

#tipo {
    font-family: "Inter Tight", sans-serif;
    padding: 9px 25px;
    font-size: 14px;
    background-color: white;
    color: black;
    border: 1px solid rgba(100, 94, 94, 0.446);
    border-radius: 5px;
}


.botonesEdicion {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flechita {
    font-size: 25px;
    margin-right: 20px;
    transition: 0.2s all;
}

.flechita:hover {
    cursor: pointer;
    color: white;
}


/* LOCALIDADES */

.contenedor-localidades {
   display: block;
   flex-direction: column;
   justify-content: center;
   width: 100%;
}

.opciones-localidades {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
}

.contenedor-localidades-aula {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenedor-localidades-oficina {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contenedor-localidades-oficina {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contenedor-localidades-cubiculo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contenedor-localidades-laboratorio {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contenedor-localidades-taller {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.localidades-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(100, 94, 94, 0.446);
    background-color: white;
    font-family: "Inter Tight", sans-serif;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 50px;
}

.localidades-titulo {
    display: flex;
    flex-direction: column;
    width: 1080px;
    border-bottom: 1px solid rgb(173, 169, 169);
}

.nombre-localidad {
    text-align: center;
    font-weight: 600;
}

.menu-localidades {
    display: flex;
    flex-direction: row;
    text-decoration: none;
}
.titulo-local {
    position: relative; /* Asegúrate de que el elemento tenga posición relativa */
    margin: 0 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 20px;
    border: none;
    background-color: rgba(255, 255, 255, 0);
    list-style-type: none;
    padding: 10px; /* Agrega un padding para mejorar el área de clic */
}

.titulo-local:hover {
    cursor: pointer;
}

.titulo-local::after {
    content: '';
    position: absolute;
    bottom: 0; /* Alinea al fondo del título */
    left: 10%;
    height: 2px;
    width: 0; /* Inicialmente no se muestra */
    background-color: rgb(0, 0, 0); /* Color de la línea */
    transition: 0.3s width ease-in-out; /* Transición suave */
}

.titulo-local:hover::after {
    width: 80%; /* Se expande al 80% en hover */
}

.botonesEdicionLocalidades {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flechita-local {
    padding-top: 40px;
    padding-left: 10px;
    transition: 0.2s all;
}

.flechita-local:hover {
    color: white;
    cursor: pointer;
}

.agregar-componentes {
    margin: 20px auto; /* Centra el contenedor */
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
    width: calc(100% - 140px); /* Resta los márgenes laterales */
}



/* ELEMENTOS */

.input-componente-nombre {
    font-family: "Inter Tight", sans-serif;
    font-size: 14px;
    width: 150px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgba(100, 94, 94, 0.446);
    outline: none;
    padding-left: 10px;
}

.input-componente-desc {
    font-family: "Inter Tight", sans-serif;
    font-size: 14px;
    width: 150px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgba(100, 94, 94, 0.446);
    outline: none;
    padding-left: 10px;
}

.elemento-tipo {
    text-align: center;
    font-family: "Inter Tight", sans-serif;
    padding: 4px 100px;
    font-size: 14px;
    background-color: white;
    color: black;
    border: 1px solid rgba(100, 94, 94, 0.446);
    border-radius: 5px;
}


.agregarComponentesBtn {
    margin-left: 5px;
    padding: 4.5px 15px;
    border-radius: 5px;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-family: "Inter Tight", sans-serif;
    font-size: 14px;
}

.agregarComponentesBtn:hover {
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid black;
}

.contenedor-componentes {
    margin: 20px auto; /* Centra el contenedor */
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
    width: calc(100% - 140px); /* Resta los márgenes laterales */
}

.componente {
    display: flex;
    flex-direction: column;
    margin: 5px;
    border: 2px solid #ccc;
    background-color: #ccc;
    padding: 10px;
    width: 100px;
    height: 50px;
    text-align: center;
    font-size: 14px;
    justify-content: center;
    cursor: pointer;
    transition: border-color 0.3s, background-color 0.3s;
}

.componente:hover {
    border-color: #2c2a2a;
}

.componente.seleccionado {
    border-color: #2c2a2a;
}

.ticketBtn {
    margin-top: 20px;
    padding: 9px 13px;
    border-radius: 5px;
    background-color: #000000;
    border: 1px solid black;
    color: white;
    font-family: "Inter Tight", sans-serif;
    font-size: 13px;
    transition: background-color 0.3s;
}

.ticketBtn:hover {
    cursor: pointer;
    background-color: #ffffff;
    color: black;
    border: 1px solid black;
}

.contenedor-ticketBtn {
    display: flex;
    flex-direction: row;
    justify-content: center; /* Asegura que los botones estén centrados */
    margin-top: 20px;
}

/* MODAL */
.formulario-elementos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter Tight", sans-serif;
    font-size: 20px;
    padding: 20px;
}

.izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Estilo del contenedor de tipo */
.tipo-contenedor {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

/* Grid para organizar los inputs en dos columnas */
#dynamicFields {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-elemento {
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgba(100, 94, 94, 0.446);
    outline: none;
    padding-left: 10px;
    margin: 0 10px;
}

.agregar-componentes-but {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    align-items: center;
}

.agregarComponenteBtn {
    margin-left: 5px;
    padding: 9.5px 30px;
    border-radius: 5px;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
}

.label-elementos {
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
    margin: 10px 0;
}


/* INCIDENCIAS */

.contenedor-incidencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter Tight", sans-serif;
}

.incidencia-izquierda {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter Tight", sans-serif;
    font-size: 20px;
    padding: 20px;
}

.incidencia-derecha {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter Tight", sans-serif;
    font-size: 20px;
    padding: 20px;
}

.incidencias {
    display: flex;
    flex-direction: row;
}

.incidenciaBtn {
    margin-left: 5px;
    margin-top: 15px;
    padding: 9.5px 35px;
    border-radius: 5px;
    background-color: black;
    border: 1px solid black;
    color: white;
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
}

.contenedor-descripcion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.etiqueta {
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
    margin: 10px 0;
}

.input-incidencia {
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
    width: 300px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid rgba(100, 94, 94, 0.446);
    outline: none;
    padding-left: 10px;
    margin: 0 10px;
}

.descripcion {
    padding-top: 10px;
    font-family: "Inter Tight", sans-serif;
    font-size: 16px;
    width: 680px;
    height: 100px;
    border-radius: 5px;
    border: 1px solid rgba(100, 94, 94, 0.446);
    outline: none;
    padding-left: 10px;
    margin: 0 10px;
}